.sidebar{
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.1rem;
    margin-top: 3rem;
    display: flex;
    font-family: sans-serif;

}




.javascript{
  background-color: rgb(255, 239, 9);
    padding: 1rem;
     cursor: pointer;
}


.angular{
    background-color: #D30019;
    padding: 1rem;
    color: white;
     cursor: pointer;
      cursor: pointer;

}

.reactjs{
     background-color:#25DBFF;
     padding: 1rem;
      cursor: pointer;
}


.m{

    transition:all .3s ease-in;
    transform: scale(1.1);
}

.m.open{

  transform: scale(1);
}


.p{
    transform: translateX(-10%);
    transition:all .3s ease-in;
}

.p.open{
    transform: translateX(0);
}

.k{
    transform:scale(0.5);
    opacity: 0.6;
    transition:all .5s ease-out;
}

.k.open{
    opacity: 1;

   transform:  scale(1);

}